# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/plant_serve?schema=public

# JWT
JWT_ACCESS_SECRET=your-access-secret-change-me
JWT_REFRESH_SECRET=your-refresh-secret-change-me

# AWS S3
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_S3_BUCKET=your-s3-bucket-name

# ML Microservice
ML_SERVICE_URL=http://localhost:8000/predict

# Anthropic
ANTHROPIC_API_KEY=your-anthropic-api-key

# Openrouter
OPENROUTER_API_KEY=your-openrouter-api-key
